body {
    padding-bottom: 20px;
    background-image: url("webcode.jpg");
    background-size: cover;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 25px;
    padding-right: 25px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.contentBox {
    padding: 25px;
    background-color: rgba(204, 255, 102, 0.80);
    width: 100%;
    margin-top: 50px;
    border: 3px solid white;
}

.gender {
    border-radius: 50%;
    float: left;
    width: 20px;
    height: 20px;
    margin:0px;
}

.female {
    background-color: crimson;
}

.male {
    background-color: cornflowerblue;
}

.other {
    background-color: orange;
}

.mat { 
    background-color: rgba(0,0,0,0.8);
    border: 1px solid gray;
    margin: 15px;
    padding: 10px;
    display: table
}

