
@{
    ViewBag.Title = "Welcome!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="width: 600px; border-right: 1px solid white; padding: 10px;">
<p>This is a nascent data engine for processing demographic data, specifically regarding the breakdown of genderdiversity statistics in the technology industry. It is meant ultimately as a tool for local organizations to monitor the female-to-male ratio in local industry groups, colleges, and major employers once that information becomes available.</p><p> Currently, it pulls data from the Meetup API, culling Eugene tech groups for member lists and then porting the names to a handy CSV file for data mining. It then processes and stores data from the mined CSV and visualizes the data.</p><p>In addition, this site features a basic member directory, a growing page of resources, and account authorization.</p>
</div>
