
@{
    ViewBag.Title = "Resources";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-inverse">
    <thead>
        <tr>
            <th>Site</th>
            <th>URL</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">
            <td>Lane Women in Tech (L-WIT)</td>
            <td><a href="https://www.facebook.com/groups/554104281410331/">https://www.facebook.com/groups/554104281410331/</a></td>
            <td>Women in computer science at Lane Community College and their allies.</td>
        </tr>
        <tr>
            <th scope="row">
            <td>Technology Association of Oregon (TAO)</td>
            <td><a href="http://www.techoregon.org">http://www.techoregon.org</a></td>
            <td>TAO unites the region's technology industry and is a recognized leader in shaping and growing technology and business communities. We empower businesses and entrepreneurs through networks, events, resources and more.</td>
        </tr>
        <tr>
            <th scope="row">
            <td>Girls Who Code</td>
            <td><a href="http://www.girlswhocode.com/">http://www.girlswhocode.com/</a></td>
            <td>We are a national nonprofit organization working to close the gender gap in the technology and engineering sectors.
With support from public and private partners, Girls Who Code works to educate, inspire, and equip high school girls with the skills and resources to pursue opportunities in computing fields.</td>
        </tr>
        <tr>
            <th scope="row">
            <td>National Center for Women & Information Technology</td>
            <td><a href="http://www.ncwit.org/">http://www.ncwit.org/</a></td>
            <td>NCWIT works to correct the imbalance of gender diversity in technology and computing because gender diversity positively correlates with a larger workforce, better innovation, and increased business performance. Increasing the number of women in technology and computing also has the potential to improve the design of products and services to better serve a more diverse population, and increase economic and social well-being by providing more women with stable and lucrative careers.</td>
        </tr>
            
    </tbody>
</table>

