
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Contact</h2>
<i>There will be a form here that will ideally submit email to me, but in the meantime, I'll just include my contact info.</i>

<br />
    Sam Toman<br />
    samantha.toman@gmail.com<br />
    <a href="https://www.linkedin.com/in/tomansc"><img src="~/Content/Logo-2C-21px-TM.png" /></img></a>
</p>